.body {
  background: #ECEFF1;
}
.divider{
    padding-left: 2%;
    padding-right: 2%;
    background: #ECEFF1;
}

.examples {
  font-family: 'Indie Flower', cursive;
  padding-left: 10%;
  color: '#CFD8DC';
}

.imgWrap {
  width: 420px;
  position: relative;
  display: inline-block;
  margin-top: -5%;
  margin-left: 0;
  margin-right: 0;
}

.notationWrap {
  width: 450px;
  position: relative;
  display: inline-block;
}
